<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Task Test Suite">
            <directory>tests/Task/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Task/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/log/coverage/" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/log/coverage/clover.xml"/>
        <log type="coverage-crap4j" target="build/log/crap4j.xml"/>
        <log type="junit" target="build/log/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
